
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Autres

.hidden {
  display: none;
}

.buttons-edit {
  position:absolute;
  right: 5px;
  z-index:55;
  display: inline-block;
}

.btn {
  &.add {
    top: 30px;
    position:absolute;
    right: 30px;
  }
}